<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>proNg-mirror by deltatre-webplu</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>proNg-mirror</h1>
        <p>An angular,js wrapper for prosemirror </p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/deltatre-webplu/proNg-mirror" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/deltatre-webplu/proNg-mirror/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/deltatre-webplu/proNg-mirror/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section ng-app="demo" ng-controller="demoController as ctrl">
        <h3>
<a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demo</h3>

        <h4>Prosemirror directive</h4>
        <prosemirror ng-model="ctrl.content" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }" show-markdown="ctrl.showMarkdown"></prosemirror>


        <h4>Markdown Prosemirror directive</h4>
        <markdown-prosemirror ng-model="ctrl.content" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }" show-markdown="ctrl.showMarkdown"></markdown-prosemirror>

        <h4>Markdown model</h4>        
        <pre>{{ctrl.content}}</pre>

      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/deltatre-webplu">deltatre-webplu</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/deltatre-webplu/proNg-mirror/master/dist/markdownProsemirror_bundle.js"></script>
    <script type="text/javascript">
    angular.module('demo', ['markdownProsemirror'])
      .controller('demoController', function() {
        var vm = this;
        vm.showMarkdown = false;
        vm.content = 'my **markdown** content';
      });
    </script>
  </body>
</html>
