<!doctype html>

<meta charset="utf-8" />
<title>Markdown-ProseMirror demo page</title>

<h1>Markdown-ProseMirror demo page</h1>

<div ng-app="demo">
  <div ng-controller="demoController as ctrl">
    <markdown-prosemirror ng-model="ctrl.content"
      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }"
      show-markdown="ctrl.showMarkdown"
      prosemirror-options="ctrl.options"
      ng-change="ctrl.change()"></markdown-prosemirror>
    <pre>{{ctrl.content}}</pre>

<ul>
  <li ng-repeat="change in ctrl.changeList track by $index">{{change}}</li>
</ul>

  </div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="demo_bundle.js"></script>
