markdown-prosemirror {
  display: flex;
  flex-direction: column;
}

markdown-prosemirror prosemirror {
  flex-grow: 1;
}

markdown-prosemirror .MarkDown {
  flex-grow: 1;
}

markdown-prosemirror .markdown-prosemirror-toolbar {
  display: flex;
}
.markdown-prosemirror-toolbar .filler {
  flex-grow: 1;
}
